doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/schedule.css')

    script(src='/vendor/q/q.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/schedule.js')
    script.
      var users = !{JSON.stringify(users)};
  body
    .container
      .row
        .col-sm-12.page-header
          h1 Moonshot Lab <small>Schedule a Tour</small>

      .row
        .col-sm-8
          .form-group
            label Client/Group
            input.form-control(type='text', placeholder='Barkley')
        .col-sm-4
          .form-group
            label Number of People Attending
            input.form-control(type='number', placeholder='2')

      .date-controller.row
        .col-xs-4
          a.prev-date(href='#')
        .col-xs-4
          p.current-date(href='#')
        .col-xs-4
          a.next-date(href='#')

      .lab-schedule
        table.table.table-striped.time-table
          thead
            tr
              th
              each user in users
                th(class="user user-#{user._id}")
                  .pic(style="background-image:url(#{user.picturePath})")
                  h4= user.displayName
          tbody
            - for(var hours=9; hours<18; hours++){
              - for(var minutes=0; minutes< 60; minutes+=15){
                tr
                  - var displayHours = hours;
                  - var displayMinutes = minutes;
                  - if(hours > 12) { displayHours = hours - 12; }
                  - if(minutes == 0) { displayMinutes = '00'; }

                  td #{displayHours}:#{displayMinutes}

                  each user in users
                    td(class="user-#{user._id}", data-hour=hours, data-minute=minutes)
              - }
            - }

      .row
        .col-xs-12
          .form-group
            label Note / Special Requests
            textarea.form-control

      .row
        .col-xs-12
          .form-group
            label Your Email
            input.form-control(type='text', value=schedulerEmail, disabled)

      .row
        .col-xs-12
          button.text-right.btn.btn-primary(type='button') Submit
