doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/schedule.css')

    script(src='/vendor/q/q.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/date-controller.js')
    script(src='/js/time-selector.js')
    script(src='/js/schedule.js')
    script.
      var users = !{JSON.stringify(users)};

  body
    .container
      .row
        .col-sm-12.page-header
          h1 Moonshot Lab <small>Schedule a Tour</small>

      .row.text-description
        .col-xs-12
          blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim quam eu euismod ultricies. Ut at pellentesque diam. In cursus risus faucibus rutrum molestie.

      .date-controller.row
        .col-xs-12
          btn.group
            a.prev-date.btn.btn-primary(href='#')
            p.current-date.btn.btn-link(href='#')
            a.next-date.btn.btn-primary(href='#')

      .row
        .col-xs-12
          table.table.time-table
            thead
              tr
                th
                each user in users
                  th
                    .pic(style="background-image:url(#{user.picturePath})")
                    h4= user.displayName
            tbody
              - for(var hours=9; hours<18; hours++){
                - if(hours < 10) { hours = '0' + hours; }

                - for(var minutes=0; minutes< 60; minutes+=15){
                  tr
                    - var displayHours = hours;
                    - var displayMinutes = minutes;
                    - if(hours > 12) { displayHours = hours - 12; }
                    - if(minutes == 0) { displayMinutes = '00'; }

                    td(data-hour=hours, data-minute=displayMinutes)
                      p(unselectable='on')
                        span.hour= displayHours
                        span.colon :
                        span.minute= displayMinutes

                    each user in users
                      td(class="user-#{user._id}", data-hour=hours, data-minute=displayMinutes)
                - }
              - }

      .row
        .col-sm-6
          .form-group
            label Date
            input.form-control(type='date', name='date')
        .col-sm-3
          .form-group
            label Start Time
            input.form-control(type='time', name='startTime')
        .col-sm-3
          .form-group
            label End Time
            input.form-control(type='time', name='endTime')

      .row
        .col-sm-8
          .form-group
            label Client/Group
            input.form-control(type='text', placeholder='Barkley', name='client', required)
        .col-sm-4
          .form-group
            label Number of People Attending
            input.form-control(type='number', placeholder='2', name='number-attending')

      .row
        .col-xs-12
          .form-group
            label Note / Special Requests
            textarea.form-control(name='description')

      .row
        .col-xs-12
          .form-group.add-friends
            label Add More People
            #friend-errors.alert.alert-warning
            .input-group
              input.form-control(type='text', placeholder='yourfriend@email.com', name='yourFriend')
              span.input-group-btn
                button#add-friend.btn.btn-default.btn-success(type='button') +
          ul.list-group.friends

      .row
        .col-xs-12
          .form-group
            label Your Email
            input.form-control(type='text', name='schedulerEmail', value=schedulerEmail, disabled, required)

      .row
        .col-xs-12
          #form-errors.alert.alert-warning
      .row
        .col-xs-12
          button.text-right.btn.btn-primary#submit-form(type='button') Submit
